/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file for use with Docker
 * -------------------------------------------------
 * Defines basic usage limits and docker image id.
 * Imported under the default 'docker' Nextflow
 * profile in nextflow.config
 */

singularity {
  enabled = true
}

process {
  container = 'evanfloden/nf-toxomix@sha256:eec1f0ddd944cdc6b6cf8901a8939a4bb2538e24f3c3627af44ee4439bc81013'
  executor = 'crg'
  queue = 'cn-el7'
}

params {
  igenomes_base = 's3://ngi-igenomes/igenomes/'
}
