/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 *  Nextflow config file for use with Docker
 * -------------------------------------------------
 * Defines basic usage limits and docker image id.
 * Imported under the default 'docker' Nextflow
 * profile in nextflow.config
 */

singularity {
  enabled = true
}

process {
  container = 'evanfloden/nf-toxomix@sha256:7a2906c5b491666f12fd7e1d0cc266585884cbf89b1ab11e2efecde76c0e482f'
  executor = 'crg'
  queue = 'short-sl7'
}

params {
  igenomes_base = 's3://ngi-igenomes/igenomes/'
}
